---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
---

<Layout title="About AJBC Services.">
	<main>
		<Logo image="/ajbc-purple.png" />
		<div
			class="bg-white rounded-lg shadow-md overflow-hidden max-w-xl m-5 mx-auto mb-40"
		>
			<div class="p-4">
				<h2 class="text-xl font-medium text-gray-800 mb-2">
					Why AJBC ?
				</h2>

				<p class="text-gray-600 mb-5">
					Simple really, it stands for <i
						>Anne and Jon Brookes Contracts</i
					> for which Anne and Jon Brookes are the founders of AJBC
					Ltd established 2007.
				</p>

				<p class="text-gray-600 mb-5">
					AJBC is in Birmingham, United Kingdom.
				</p>

				<h2 class="text-xl font-medium text-gray-800 mb-2">
					What AJBC Does
				</h2>

				<p class="text-gray-600 mb-5">
					We consult with small businesses advising on and providing
					App and website design, hosting, SEO and social media
					strategies. We give personal service alongside bespoke
					solutions that reflect client values.
				</p>

				<p class="text-gray-600 mb-5">
					AJBC Technical Support and Consultancy grew out of Jon Brookes working
					for over 20 years in industry and commerce closely
					associated with Internet and E-Commerce since its early
					days.
				</p>

				<p class="text-gray-600 mb-5">
					Anne Brookes, set up as the <a href="https://www.canalsidecoach.app/"
						>Canalside Life Coach</a
					> out of a desire to see individuals rediscover their
					true identity and sense of direction in life.
				</p>



			</div>
		</div>
	</main>
</Layout>

<style></style>
