---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
---

<Layout title="About AJBC Services.">
	<main>
		<Logo />
		<div
			class="bg-white rounded-lg shadow-md overflow-hidden w-96 m-5 mx-auto mb-40"
		>
			<div class="p-4">
				<!-- <h2 class="text-xl font-medium text-gray-800 mb-2">
					About AJBC
				</h2> -->
				<p class="text-gray-600 mb-5">
					Jon is a Director together with Anne Brookes who is Business
					and Financial Director of AJBC a limited company.
				</p>

				<p class="text-gray-600 mb-5">
					Why AJBC ? Simple really, it stands for Anne and Jon Brookes
					Contracts and was established 2007.
				</p>

				<p class="text-gray-600 mb-5">
					Director and co-founder of AJBC ltd
				</p>
				<p class="text-gray-600 mb-5">
					Director and co-founder of AJBC ltd
				</p>
				<p class="text-gray-600 mb-5">AJBC Limited</p>
				<p class="text-gray-600 mb-5">AJBC Limited</p>
				<p class="text-gray-600 mb-5">
					Nov 2007 - Present · 15 yrs 10 mos
				</p>
				<p class="text-gray-600 mb-5">
					Nov 2007 - Present · 15 yrs 10 mos
				</p>
				<p class="text-gray-600 mb-5">Birmingham, United Kingdom</p>
				<p class="text-gray-600 mb-5">Birmingham, United Kingdom</p>
				<p class="text-gray-600 mb-5">
					I run this company with my husband. We consult with small
					businesses and not-for-profit organisations advising on and
					providing App and website design, hosting, SEO and social
					media strategies. We give personal service alongside bespoke
					solutions that reflect client values.
				</p>
				<p class="text-gray-600 mb-5">https://ajbc.co</p>
				<p class="text-gray-600 mb-5">
					I run this company with my husband. We consult with small
					businesses and not-for-profit organisations advising on and
					providing App and website design, hosting, SEO and social
					media strategies. We give personal service alongside bespoke
					solutions that reflect client values. https://ajbc.co
				</p>
				<p class="text-gray-600 mb-5">
					Skills: Purchasing Processes · Coaching · Records Management
					· Time Management · Office Administration · Training
					Delivery · Neuro-Linguistic Programming (NLP) · Job Coaching
					· Customer Service · Teamwork
				</p>

				<p class="text-gray-600 mb-5">
					I've lived for a number of decades and I've learned that it
					helps to keep a fresh and healthy attitude to life. Many of
					us have had challenging experiences and life means adapting
					to changes, whether wanted or not.
				</p>

				<p class="text-gray-600 mb-5">
					The Canalside Life Coach grew out of a desire to see
					individuals rediscover their true identity and sense of
					direction in life.
				</p>

				<p class="text-gray-600 mb-5">
					I am reliable and dependable. I quickly build trust.
				</p>

				<p class="text-gray-600 mb-5">
					I'm interested in real results that help you discover
					answers that work in your life.
				</p>
			</div>
		</div>
	</main>
</Layout>

<style></style>
