---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Logo from "../components/Logo.astro";
// import { Image } from 'astro:assets';
// import localBirdImage from '../../images/subfolder/localBirdImage.png';
// import certImage from './images/certs.png';
// import img from '../images/cert.png';

// import { Image } from 'astro:assets';
import certImage from "../assets/certs.png"; // Image is 1600x900
---

<Layout title="Introducing AJBC Services">
	<main>
		<Logo />
		<div
			class="bg-white rounded-lg shadow-md overflow-hidden max-w-xl m-5 mx-auto mb-40"
		>
			<div class="p-4">
				<h2 class="text-xl font-medium text-gray-800 mb-2">
					AJBC Services
				</h2>

				<p class="text-gray-600 mb-5">
					We consult with small businesses and not-for-profit
					organisations advising on and providing App and website
					design, hosting, SEO and social media strategies.
				</p>

				<p class="italic text-lg text-gray-600 mb-5">
					We make it as easy as AJBC to get the job done
				</p>

				<p class="text-gray-600 mb-5">
					We give personal service alongside bespoke solutions that
					reflect client values.
				</p>

				<div
					class="bg-white rounded-lg shadow-md overflow-hidden w-96 mx-auto mb-10"
				>
					<div class="p-4">
						<h2 class="text-xl text-gray-800 mb-2 mt-3">
							Lets Talk About Your Project
						</h2>
						<a href="/contact">
							<button
								class="bg-transparent hover:bg-slate-100 text-slate-950 font-semibold py-2 px-4 border border-slate-500 hover:border-transparent rounded m-3"
								>contact us</button
							>
						</a>
					</div>
				</div>
				<p class="italic text-lg text-gray-600 mb-5">
					We specialise in
				</p>

				<p class="text-gray-600 mb-5">
					building apps and web sites that suit your needs, where you
					are in control of your own content
				</p>

				<p class="text-gray-600 mb-5">
					getting you up and running quickly and trouble free
				</p>

				<p class="text-gray-600 mb-5">
					... giving you control and putting you in the driving seat
				</p>

				<!-- <p class="text-gray-600 mb-5">
					Setting you up with Analytics that show you where your site
					traffic is coming from and going to and helping you shape
					your site to gain maximum conversion.
				</p> -->

				<p class="text-gray-600 mb-5">
					... giving you the support and consultancy that won’t leave you
					in the dark: we help you manage and grow your on
					line presence, taking the pain out of the technical bits
					that could stall your progress.
				</p>

				<h2 class="text-xl font-medium text-gray-800 mt-10 mb-2">
					Canalside Life Coach
				</h2>

				<p class="text-gray-600 mb-5">
					Working with the Canalside Life Coach, you will become more
					resourceful by learning practical ways to alter how you
					think about things
				</p>

				<p class="text-gray-600 mb-5"></p>
				 I will compassionately coach you through life's challenges and
				changes

				<p class="text-gray-600 mb-5">
					We will use Neuro Linguistic Programming techniques that
					focus on positive changes
				</p>

				<div
					class="bg-white rounded-lg shadow-md overflow-hidden w-96 mx-auto mb-40"
				>
					<div class="p-4">
						<h2 class="text-xl text-gray-800 mb-2 mt-3">
							Get started on your coaching journey today
						</h2>
						<a href="https://canalsidecoach.app">
							<button
								class="bg-transparent hover:bg-slate-100 text-slate-950 font-semibold py-2 px-4 border border-slate-500 hover:border-transparent rounded m-3"
								>Find out more</button
							>
						</a>

						<!-- <a href="https://example.com" class=" font-bold py-2 px-4 rounded">
						Find out more
					  </a> -->
					</div>
					<div class="m-3">
						<img
							src="/certs.png"
							alt="Three logos: The American Board of Neuro-Linguistic
						Programming, Coaching Division of the American Board Of NLP,
						Time Line Therapy Association"
						/>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style></style>
