---
interface Props {
	image?: string;
}

let { image } = Astro.props;
if (!image) {
	image = '/ajbc-grey.png'
}
---

<a href="/">
	<img
	src={image}
	alt="AJBC Services Logo"
	class="logo-img w-56 rounded-full mx-auto p-5"
	/>
</a>

<style>

	

</style>
